In [1]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
cd /content/drive/MyDrive/Github/DataScience2023

/content/drive/MyDrive/Github/DataScience2023

In [3]:
!git remote remove origin
!git remote add origin https://AnYeHyeon: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@github.com/AnYeHyeon/DataScience2023.git

In [4]:
!git config --global user.email 'ahnyh4756@gmail.com'
!git config --global user.name 'AnYeHyeon'

In [5]:
!git add -A
!git commit -m "Connect Google Colab and Drive"

[main 58ec0ed] Connect Google Colab and Drive
 2 files changed, 2 insertions(+), 1 deletion(-)
 rewrite LogisticRegression.ipynb (94%)
 create mode 100644 "\341\204\220\341\205\241\341\204\213\341\205\265\341\204\220\341\205\241\341\204\202\341\205\265\341\206\250\341\204\211\341\205\242\341\206\274\341\204\214\341\205\251\341\206\253\341\204\213\341\205\250\341\204\216\341\205\263\341\206\250.ipynb"

In [ ]:
!git push -u origin main

# 데이터 불러오기

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/AnYeHyeon/DataScience_2023S/master/data/titanic_processed.csv')
df

,age,sibsp,parch,fare,pclass_1.0,pclass_2.0,pclass_3.0,sex_female,embarked_C,embarked_Q,embarked_S,survived
0,29.0000,0.0,0.0,211.3375,1,0,0,1,0,0,1,1
1,0.9167,1.0,2.0,151.5500,1,0,0,0,0,0,1,1
2,2.0000,1.0,2.0,151.5500,1,0,0,1,0,0,1,0
3,30.0000,1.0,2.0,151.5500,1,0,0,0,0,0,1,0
4,25.0000,1.0,2.0,151.5500,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1038,45.5000,0.0,0.0,7.2250,0,0,1,0,1,0,0,0
1039,14.5000,1.0,0.0,14.4542,0,0,1,1,1,0,0,0
1040,26.5000,0.0,0.0,7.2250,0,0,1,0,1,0,0,0
1041,27.0000,0.0,0.0,7.2250,0,0,1,0,1,0,0,0
1042,29.0000,0.0,0.0,7.8750,0,0,1,0,0,0,1,0

In [12]:
import numpy as np

In [13]:
np.sum(df['survived'])

425

# 학습

In [14]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

# 데이터 분리 (종속, 독립)

In [15]:
X = df[df.columns[:-1]]
X

,age,sibsp,parch,fare,pclass_1.0,pclass_2.0,pclass_3.0,sex_female,embarked_C,embarked_Q,embarked_S
0,29.0000,0.0,0.0,211.3375,1,0,0,1,0,0,1
1,0.9167,1.0,2.0,151.5500,1,0,0,0,0,0,1
2,2.0000,1.0,2.0,151.5500,1,0,0,1,0,0,1
3,30.0000,1.0,2.0,151.5500,1,0,0,0,0,0,1
4,25.0000,1.0,2.0,151.5500,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1038,45.5000,0.0,0.0,7.2250,0,0,1,0,1,0,0
1039,14.5000,1.0,0.0,14.4542,0,0,1,1,1,0,0
1040,26.5000,0.0,0.0,7.2250,0,0,1,0,1,0,0
1041,27.0000,0.0,0.0,7.2250,0,0,1,0,1,0,0
1042,29.0000,0.0,0.0,7.8750,0,0,1,0,0,0,1

In [ ]:
y = df['']